body {
  font-family: 'Nanum Myeongjo', serif;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo-font {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: black;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.nav-left {
  flex: 0 0 30%;
  width: 30%;
  text-align: left;
  padding-left: 5px;
}

.nav-centre {
  flex: 0 0 40%;
  width: 40%;
}

.nav-right {
  flex: 0 0 30%;
  width: 30%;
  text-align: right;
}

.main-header {
  width: 100%;
  line-height: 1;
  position: relative;
  z-index: 100;
}

.editorial-image-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 40px;
}

.editorial-image {
  background-image: url(https://thespaces.com/wp-content/uploads/2017/04/Thurs9th_Hepworth_LR-45-Haarkon.jpg);
  background-size: cover;
  height: 800px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.editorial-hero-image {
  background-image: url(http://amworkshops.com/wp-content/uploads/2016/08/Constantin-Brancusi-Studio-1.jpg);
  background-size: cover;
  height: 800px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.editorial-template-content-text {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editorial-template-paragraph {
  width: 50%;
  text-align: justify;
  padding-top: 40px;
}

.editorial-inline-image {
  width: 30%;
}

.shop-preview {
  display: flex;
  flex-wrap: wrap;
}

.shop-preview-work {
  flex: 2 1 400px;
}

.shop-styles {
  flex: 1 1 150px;
  padding-right: 20px;
}

.preview-work {
  flex: 1 1 auto;
}

#editorial-preview-container {
  padding-top: 8%;
}

.styles-content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.style-list-items {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.style-li {
  padding-bottom: 10px;
}

.all-preview-container {
  display: flex;
  flex-wrap: wrap;
}

.artwork-preview-container {
  display: flex;
  flex: 1 1 30%;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  padding-top: 8%;
}

.artwork-preview-text {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 70px;
  padding-left: 30px;
}

.services-images-container {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}

.services-text {
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
}

.services-image {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.advisory-text {
  width: 250px;
}

.services-text {
  flex: 1;
}

.services-item {
  flex: 1 1 30%;
}

.services-title-text {
  font-family: 'Oswald', sans-serif;
}

.services-learn-more:hover {
  color: lightgray;
}

.footer-links {
  list-style: none;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  padding-inline-start: 0;
}

.footer-container {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-left {
  justify-content: center;
  align-items: center;
  flex-basis: 250px;
}

.footer-right {
  justify-content: center;
  align-items: center;
  flex-basis: 250px;
}

#email-subscribe-form {
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  border: 0;
  background-color: #f6f6f6;
  font-size: 12px;
  height: 47px;
}

#subscribe-button {
  width: 80px;
  right: 0;
  font-size: 10px;
  /* padding: 11px 10px 10px; */
  color: #ffffff;
  background-color: #000000;
  height: 47px;
  border: 0;
}

.social-icons {
  list-style: none;
  display: inline-block;
  /* font-family: 'Open Sans', sans-serif !important; */
}

.icons {
  padding-right: 20px;
}

.footer-row {
  display: flex;
}

.all-art-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
}

.signup-field {
  background: white;
  border: 1px solid #000000;
  width: 33%;
  padding: 11px 6px 9px;
  margin: 8px 0;
}

.sign-in-rule {
  border: 3px;
}

.sign-in-container {
  padding-left: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.sign-in-button {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  background-color: #000;
  color: white;
  font-weight: 700;
  text-transform: none;
  width: 100px;
  height: 50px;
}

.continue-shopping-button {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  background-color: white;
  color: #000;
  font-weight: 700;
  text-transform: none;
  width: 200px;
  height: 50px;
  padding-right: 10px;
}

.remove-button {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  background-color: black;
  color: white;
  font-weight: 700;
  text-transform: none;
  width: 100px;
  height: 30px;
  padding-right: 10px;
}

.single-artwork-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
}

.single-artwork-image-container {
  flex: 2 2 300px;
  max-width: 650px;
}

.single-artwork-image {
  width: 90%;
}

.single-artwork-details {
  flex: 1;
  align-self: flex-start;
}

.all-services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-installation-container {
  padding-top: 20px;
  display: flex;
}

.installation-image {
  height: 150px;
}

.services-installation-text {
  padding-left: 30px;
}

.installation-list {
  padding-top: 10px;
}

.installation-items {
  padding-top: 20px;
}

.services-partnership-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

#advisory-image {
  width: 500px;
}

.services-advisory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

.services-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#logos-logo {
  width: 150px;
}

#github-logo {
  width: 70px;
}

#apple-logo {
  width: 60px;
  padding-bottom: 5px;
}

.single-logo {
  padding-left: 10px;
}

.cart-template {
  padding-top: 60px;
}
.cart-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.cart-table-row {
  display: table-row;
  border-bottom: 1px solid #000;
}

.cart-table-cell,
.cart-table-head {
  display: table-cell;
  padding: 1em;
}

.cart-table-head {
  font-weight: bold;
}

.main-cell {
  width: 50%;
  display: flex;
  align-content: space-between;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
  align-content: space-between;
  padding-top: 40px;
}

.continue-shopping-container {
  padding-right: 30px;
  padding-bottom: 100px;
}

.artwork-cart-details {
  padding-left: 15px;
}

.cart-total-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 160px;
  padding-top: 50px;
  font-weight: bold;
}

.cart-total-text {
  padding-right: 50px;
}

.artwork-preview-image {
  width: 90%;
}

.collection-image {
  width: 100%;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
  color: black;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
  color: black;
}
