.hero-image {
  background-image: url(https://morganfeir.s3.us-east-2.amazonaws.com/images/01-Cy-Twombly-This-Is-Glamorous.png);
  background-size: cover;
  height: 800px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.hero-titles {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

.hero-intro-font {
  font-family: 'Oswald', sans-serif;
}
